<div class="grid">
  {{> header}}
  {{> navigation }}
  <main class="main">
    <div class="header">
      <div>
        <h2 class="header-title">
          Manage Parks
        </h2>
        <p>Create,View ,Update ou Delete a parking area</p>
      </div>
      <div class="header-actions">
        <a href="/admin/parks/create" class="btn btn-primary">create new park</a>
      </div>
    </div>
    <div class="body">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">parking list</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>name</th>
                <th>address</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>rentFee</th>
                <th>actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each parks}}
                <tr>
                  {{#dataValues}}
                      <td>{{name}}</td>
                      <td>{{address}}</td>
                      <td>{{lat}}</td>
                      <td>{{lat}}</td>
                      <td>{{#if rentPrice}} {{rentPrice}} DA  {{else}} FREE {{/if}}</td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-outline-primary" href="/admin/parks/{{id}}/view">view</a>
                          {{!-- <button type="button" class="btn btn-outline-danger">Danger</button> --}}
                          <a class="btn btn-outline-danger" href="/admin/parks/{{id}}/remove">delete</a>
                        </div>
                      </td>
                  {{/dataValues}}
                </tr>
              {{/each }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>