<div class="grid">
  {{> header}}
  {{> navigation }}
  <main class="main">
    <h1>Dashboard</h1>
    <h4>Welcome to FogSmartParking Surveillance Cloud Management App </h4>
    {{!-- STATS --}}
    <div class="stats">
      <div class="item card">
        <i class="fas fa-users fa-3x"></i>
        {{!-- <i class="fas fa-thumbs-up fa-5x"></i> --}}
        <p>
          <strong>{{userCount}}</strong> registered user(s)
        </p>
      </div>
      <div class="item card">
        <i class="fas fa-parking fa-3x"></i>
        <p>
          <strong>
            {{parkingCount}}  
          </strong>
          parking zone(s)
        </p>
      </div>
      <div class="item card">
        <i class="fas fa-car fa-3x"></i>
        <p>
          <strong>
            {{reservationCount}}
          </strong>
          reservation(s) made
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Parkings location</h4>
      </div>
      <div class="card-body">
        <div id="map"></div>
        {{!-- <canvas id="myChart"></canvas> --}}
      </div>
    </div>
  </main>
  <input type="hidden" value="{{parkings}}">
</div>
{{log parkings}}
<script>
  const parking_geo_data = document.querySelector("input[type=hidden]").value;
  console.log(parking_geo_data);

  // parsing
  const tmp = parking_geo_data.split(",");
  console.log(tmp);
  
  let parsedData = [];
  for(let i=0; i < tmp.length; i += 3) {
    parsedData.push({ name: tmp[i + 2], geo: [tmp[i + 1], tmp[i]] })
  }
  console.log(parsedData);

  mapboxgl.accessToken = 'pk.eyJ1IjoibmFzLWVtYmFkIiwiYSI6ImNrNHZ3NWNsZzBhcGUza3JwYzgwMnI2bjcifQ.3-qlI_rVEJG7RyF7GF52Eg';
  
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-2.216044449820021, 31.623875269142683],
    zoom: 11
  });

  parsedData.forEach(p => {
    const popup = new mapboxgl.Popup()
      .setText(p.name)
      .addTo(map);
    (new mapboxgl.Marker())
      .setLngLat(p.geo)
      .setPopup(popup)
      .addTo(map);
  })
</script>