<div class="grid">
  {{> header}}
  {{> navigation }}
  <main class="main">
    <div class="header">
      <div>
        <h3 class="header-title">{{parking.name}}</h3>
        <p>{{parking.description}}</p>
      </div>
      {{!-- <div class="header-actions">
        <a href="/admin/parks/create" class="btn btn-primary">create new park</a>
      </div> --}}
    </div>
    <div class="body">
      <div class="parking-grid">
        <div class="left">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Details</h5>
            </div>
            <div class="card-body">
              <div>
                <b><label>Geo Location</label></b>
                <p>latitude: {{parking.lat}} longitude: {{parking.lon}}</p>
              </div>
              <div>
                <b><label>Address</label></b>
                <p>{{parking.address}}</p>
              </div>
              <div>
                <b><label>Rent fees</label></b>
                <p>{{#if parking.rentPrice}} {{parking.rentPrice}} DA  {{else}} FREE {{/if}}</p>
              </div>
              <div>
                <b><label>Current Reservation Count</label></b>
                <p>{{count  parking.reservedSpots}} car spot(s) is reserved</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Authorized Vehicles</h5>
              {{!-- <div class="actions">
                <button data-micromodal-trigger="modal-1">add</button>
              </div> --}}
            </div>
            <div class="card-body">
              {{!-- <div class="v-list">
                {{#if parking.authorizedVehicles}} 
                  {{#each parking.authorizedVehicles}}
                    <div class="v-item">
                      <span> {{this}} </span>
                    </div>
                  {{/each}}
                {{else}}
                  <div style="text-align: center;">
                    <p>
                      No authorized vehicles is added, please add one manually
                    </p>
                  </div>
                {{/if}}
              </div> --}}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="card" style="height: 100%;">
            <div class="card-header">
              <h5 class="card-title">Parking Spots</h5>
            </div>
            <div class="card-body">
              {{#if parking.parkingSpots}}
                <div class="spots-header">
                <h5>View Spot Status</h5>
                <div class="spots-status">
                  Free <div class="indicator green"></div>
                  Occupied <div class="indicator red"></div>
                </div>
              </div>
              <div class="spots">
                {{#each parking.parkingSpots}}
                  <div class="spot">Spot <br> #{{this.id}}</div>
                {{/each}}
              </div>
              {{else}}
                <div class="no-spots">
                  No Parking Spot found, please configure the parking
                  <button data-micromodal-trigger="modal-2">configure</button>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{{!-- Stack container for toast messages --}}
  {{!-- <div class="toast-container position-absolute top-0 end-0 p-3">

    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" ata-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto">Car Detected</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        9238798273987
      </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Car Detected</strong>
        <small class="text-muted">2 seconds ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        984729384729834
      </div>
    </div>
  </div> --}}



{{!-- MODAL - 1
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Authorize a vehicle manually
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <form action="/admin/parks/{{parking.id}}/add_vehicle" method="POST" class="form">
          <label>
            Licence plate
            <input type="text" name="licencePlate" required>
          </label>
          <label>
            <button class="btn btn-primary" type="submit">add</button>
          </label>
        </form>
      </main>
    </div>
  </div>
</div>

{{!-- MODAL - 2 --}}
<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Configure Your Parking area
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <form action="/admin/parks/{{parking.id}}/configure" method="POST" class="form">
          <label>
            How many parking spots you parking has ?
            <input type="number" min="1" max="99" name="size" required>
          </label>
          <label>
            <button class="btn btn-primary" type="submit">configure</button>
          </label>
        </form>
      </main>
    </div>
  </div>
</div>
         --}}
<script>
var client = mqtt.connect('ws://192.168.2.1:9001',)

client.on('connect', function () {
  client.subscribe('#', function (err) {
    if (!err) {
      client.publish('presence', 'Hello mqtt')
    }
  })
})

client.on('message', function (topic, message) {
  // message is Buffer
  console.log(message.toString())
  client.end()
})
</script>